<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title class="ion-text-center">Rick and Morty - Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label class="ion-text-center ion-margin-vertical">
    <h1>Sinopse</h1>
  </ion-label>
  <div class="banner">
    <img src="./assets/banner.png" class="centered-image">
  </div>
  <ion-label class="ion-margin-vertical">
    <p>O show gira em torno das aventuras dos membros da família Smith, que consiste nos pais Jerry e Beth, seus filhos
      Summer e Morty, e o pai de Beth, chamado Rick Sanchez, que mora com eles como hóspede. De acordo com Justin
      Roiland, a família mora fora da cidade de Seattle, no estado norte-americano de Washington. No entanto, as
      aventuras de Rick e Morty ocorrem em um número infinito de realidades, com os personagens viajando para outros
      planetas e dimensões através de portais usando o veículo voador de Rick.</p>
    <br>
    <p>Rick é um cientista louco excêntrico e alcoólatra, que evita muitas convenções costumeiras como escola,
      casamento,
      amor e família. Ele frequentemente vai em aventuras com seu neto de 14 anos de idade, Morty, um menino de bom
      coração, mas que também fica facilmente angustiado, cuja bússola moral ingênua mas fundamentada funciona em
      contraponto ao ego maquiavélico de Rick. A irmã de Morty, Summer, de 17 anos, é uma adolescente mais convencional,
      que se preocupa em melhorar seu status social entre seus colegas e às vezes acompanha Rick e Morty em suas
      aventuras. A mãe das crianças, Beth, é uma pessoa geralmente equilibrada e uma força assertiva no lar, embora
      consciente de seu papel profissional como médica cirurgiã especializada em cavalos. Ela está insatisfeita com seu
      casamento com Jerry, uma pessoa insensata e de mente simples, que constantemente desaprova a influência de Rick
      sobre sua família.</p>
    <br>
    <p>Diferentes versões dos personagens habitam outras dimensões em todo o multiverso e suas características pessoais
      podem variar de uma realidade para outra. o Rick original do programa se identifica como "Rick Sanchez da dimensão
      da Terra C-137", utilizando esse dado como referência ao seu universo original, mas isso não se aplica
      necessariamente a todos os outros membros da família Smith. Por exemplo, no episódio "Rick Potion #9" da primeira
      temporada, após transformarem toda a população mundial em monstros, Rick e Morty se mudam para uma dimensão
      diferente, deixando Summer, Beth e Jerry para trás.</p>
  </ion-label>

  <ion-label class="ion-text-center ion-margin-vertical">
    <h1>Personagens</h1>
  </ion-label>
  <ion-searchbar style="margin: 0 auto;" animated="true" [(ngModel)]="searchTerm" (ionChange)="searchCharacters()"
  placeholder="Pesquisar Personagem"></ion-searchbar>

  <div class="card-container ion-text-center">
    <ion-card *ngFor="let character of characters">
      <img style="max-height: 200px;" src="{{character.image}}" />
      <ion-card-header>
        <ion-card-title>{{character.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="selectedCharacter === character">
        <p>Gênero: {{character.gender}}</p>
        <p>Espécie: {{character.species}}</p>
        <p>Status: {{character.status}}</p>
        <button (click)="selectedCharacter = null" id="fechar">Fechar</button>
      </ion-card-content>
      <ion-card-content *ngIf="selectedCharacter !== character">
        <button (click)="showDetails(character)">Saiba Mais</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>