.new-background-color {
    --background: #FAFD7CFF;
}

img {
    border-radius: 100px;
    padding: 15px;
}

h1 {
    font-size: 28px;
    color: #41b4c9;
}

p {
    font-size: 20px;
    margin: 0 30px;
    line-height: 26px;
    color: black;
    text-align: center;
}