<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>Políticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Política de Segurança</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Proteção de Dados</h2>
      <p>Nosso aplicativo adota práticas de segurança rigorosas para proteger os dados do usuário. Isso inclui a
        criptografia de dados, o uso de autenticação em dois fatores e a implementação de medidas de segurança física e
        lógica.</p>
      <h2>Acesso e Controle</h2>
      <p>Os usuários têm o direito de acessar e controlar seus dados pessoais. Eles podem visualizar, editar ou excluir
        suas informações por meio das configurações do aplicativo.</p>
      <h2>Atualizações</h2>
      <p>Periodicamente, podemos atualizar nossas políticas de segurança e privacidade para refletir as melhores
        práticas do setor. Os usuários serão notificados sobre quaisquer alterações significativas e solicitaremos seu
        consentimento, se necessário.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Política de Privacidade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Coleta de Dados</h2>
      <p>Nosso aplicativo coleta informações pessoais para melhorar a experiência do usuário e fornecer serviços
        personalizados. Os dados coletados podem incluir nome, endereço de e-mail, idade e preferências do usuário.</p>
      <h2>Uso de Dados</h2>
      <p>Todas as informações coletadas são usadas exclusivamente para fins internos. Não compartilhamos ou vendemos
        dados pessoais a terceiros sem o consentimento do usuário, a menos que exigido por lei.</p>
      <h2>Segurança</h2>
      <p>Implementamos medidas de segurança adequadas para proteger os dados pessoais dos usuários contra acesso não
        autorizado, alteração ou divulgação.</p>
    </ion-card-content>
  </ion-card>
</ion-content>