<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">As Aventuras de Rick and Morty</h1>
  <div class="banner ion-margin-vertical">
    <img src="./assets/r_and_m.jpg" class="centered-image">
  </div>
  <div class="textos">
    <p>
      Bem-vindo ao mundo caótico e genial de Rick and Morty! Seja você um fã fervoroso ou apenas um viajante casual por
      diferentes realidades, este site é o seu ponto de partida para explorar a série animada que conquistou corações e
      mentes em todo o universo.
    </p>
    <br>
    <p>
      Aqui você encontrará informações sobre os personagens cativantes que dão vida a essa
      aventura intergaláctica, além de um vislumbre do brilhantismo criativo por trás da trama de ficção científica mais
      alucinante da televisão.
    </p>
    <br>
    <p>
      Prepare-se para rir, questionar a realidade e se envolver em uma jornada inesquecível ao
      acompanhar Rick, um cientista brilhante e insano, e seu neto Morty em suas aventuras cósmicas. Bem-vindo ao
      multiverso de Rick and Morty!
    </p>
  </div>
  <br>
  <div class="cards">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Eu não discuto problemas, eu coloco fogo neles.</ion-card-title>
        <ion-card-subtitle>Rick Sanchez</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>